body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:black;
    font-weight: bold;
    background-color :#D2B48C;
}

#content {
    margin-left: auto;
    margin-right: auto;
    width: 23%;
 }

h1 {
    font-size :42px;
}

h2 {
    font-size :20px;
}

h3 {
    font-size :35px;font-family:Arial ;font-style :italic;
}

#GridView1 {
    margin-left: auto;
    margin-right: auto;
    }

#FormView1 {
    width: 100%;
}

#fromviewcontent{
    margin-left: auto;
    margin-right: auto;
    width: 23%;
    color:#FFFFFF;
}

#FormViewRecipe {
    margin-left: auto;
    margin-right: auto;
    width: 23%;
    color:white; ;
    }

.index {
    text-decoration: none;
}

.cssgirdview td  
 { 
 padding:10px;  
 color:#FFFFFF;  
 background-color:#F08080;  
 border: solid 3px #FFFFFF; 
 text-align :center ;  
 } 

.cssgirdview th  
 { 
 padding:10px;  
 color:#696969 ;  
 background-color:#FFFF99 ; 
 text-align :center ;  
 border: solid 3px #FFFFFF; 
}

.NRfromview td{

   border :solid 3px #FFFFFF;
   text-align : center ;
}
.Rfromview td {
   text-align :right;
   border :solid 3px #FFFFFF;
}


#bottonRecipe {
 background-color:none;

}

.validationerror {
    color :red;
    font-weight :bold ;
}

